#
# sample .env file
#

# server id
PHOSSA2_SERVER=host1

# default app dir
PHOSSA2_APP_DIR=${PHOSSA2_PROJECT_DIR}/app

# application config
PHOSSA2_CONFIG_DIR=${PHOSSA2_PROJECT_DIR}/config

# plugin dir
PHOSSA2_PLUGIN_DIR=${PHOSSA2_PROJECT_DIR}/plugin

# public dir
PHOSSA2_PUBLIC_DIR=${PHOSSA2_PROJECT_DIR}/public

# runtime dir
PHOSSA2_RUNTIME_DIR=${PHOSSA2_PROJECT_DIR}/runtime

# local dir, for local storage
PHOSSA2_LOCAL_DIR=${PHOSSA2_RUNTIME_DIR}/local

# log file dir
PHOSSA2_LOG_DIR=${PHOSSA2_RUNTIME_DIR}/log/${SERVER_ID}

# system dir
PHOSSA2_SYSTEM_DIR=${PHOSSA2_PROJECT_DIR}/system

# vendor dir
PHOSSA2_VENDOR_DIR=${PHOSSA2_PROJECT_DIR}/vendor

# app config environment
PHOSSA2_ENV=dev/${SERVER_ID}
