#######################################################################
#
# Sample .env file
#
# - Should be copied over to ${PHOSSA2_PROJECT_DIR}/../.env
#
# - May be modified on host basis.
#
#######################################################################

#
# Set timezone. Used in bootstrap.php file
#
TZ=Asia/Shanghai

#
# Set message language. Used in bootstrap.php file
#
LANG=en_US

#
# Current host/server id. Used in ${PHOSSA2_LOG_DIR} or ${PHOSSA2_ENV}
#
PHOSSA2_SERVER=host1

#
# app running environment
#
PHOSSA2_ENV=dev/{PHOSSA2_SERVER}

####################################################
#
# Directory settings. Normally, DO NOT CHANGE BELOW
#
####################################################

#
# App dir, where app installed
#
PHOSSA2_APP_DIR=${PHOSSA2_PROJECT_DIR}/app

#
# Config dir, where all config files located
#
PHOSSA2_CONFIG_DIR=${PHOSSA2_PROJECT_DIR}/config

#
# plugin dir, where all plugins installed
#
PHOSSA2_PLUGIN_DIR=${PHOSSA2_PROJECT_DIR}/plugin

#
# public dir, where public stuff located
#
PHOSSA2_PUBLIC_DIR=${PHOSSA2_PROJECT_DIR}/public

#
# runtime dir, where runtime stuff located
#
PHOSSA2_RUNTIME_DIR=${PHOSSA2_PROJECT_DIR}/runtime

#
# local dir, for host specific temp storage
#
PHOSSA2_LOCAL_DIR=${PHOSSA2_RUNTIME_DIR}/local

#
# log dir, *may* contain server id
#
PHOSSA2_LOG_DIR=${PHOSSA2_RUNTIME_DIR}/log/${PHOSSA2_SERVER}
